#bucketlist {
	width: 100%;
	background-color: rgba(235, 235, 235, 1);
}

// .item-box {
// 	border: 2px solid red;
// 	display: inline-block;
// }

#bucketlistItems {
	text-align: center;
}

.bucketlist-box {
	display: inline-block;
	text-align: center;
	padding: 0% 0%;
	width: 30%;
	background-color: rgba(235, 235, 235, 1);
	// border-bottom: 50px solid rgba(225, 225, 225, 1);
	border: 7px solid white;
	h2.number {
		margin: 0;
	}
	h3 {
		display: inline-block;
	}
	p {
		margin: 0;
	}
	button {
		border: none;
		background-color: transparent;
		font-family: 'Oswald', sans-serif;
		font-size: 35%;
	}
	.completed {
		display: inline-block;
	}
	.box:nth-child(4n + 4){
	    border: none;
	}
}

.number {
	margin: none;
}

#bucketlistItems {
	display: inline-block;
	border: 1px solid red;
	width: 100%;
}



// New bucket list item form

// #add {
// 	width: 25%;
// 	input {
// 		border: none;
// 		background-color: transparent;
// 		font-family: 'Oswald', sans-serif;
// 		font-size: 35%;
// 	}
// }


#add {
	border: 1px solid red;
	// padding: 2% 2%;
	width: 25%;
	text-align: center;
	.fa-plus {
		display: block;
	}
	input {
		display: block;
		text-align: center;
		border: none;
		background-color: transparent;
		font-family: 'Oswald', sans-serif;
		font-size: 35%;
	}
}
