@font-face { font-family: Sophia; src: url('Sophia.ttf'); } 

h1 {
	font-family: Sophia, sans-serif;
	font-size: 500%;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 100%;
	font-weight: 400;
}