// #app {
// 	width: 100%;
// 	border: 1px solid red;
// 	h1 {
// 		display: inline-block;
// 	}
// 	#login {
// 		display: inline-block;
// 	}
// }

#homepage {
	background-color: rgba(235, 235, 235, 1);
}

#homepage-block1 {
	text-align: center;
	h1 {
		margin: 0;
	}
	h3 {
		color: rgba(253, 194, 14, 1);
	}
	p {
		margin: 0;
	}
}

#homepage-block2 {
	width: 40%;
	h1 {
		// color: rgba(253, 194, 14, 1);
		color: white;
		margin: 0;
	}
	h3 {
		font-size: 100%;
		color: rgba(90, 90, 90, 1);
	}
}

#homepage-block3 {
	width: 40%;
	text-align: right;
	h1 {
		// color: rgba(253, 194, 14, 1);
		color: white;
		margin: 0;
	}
	h3 {
		font-size: 100%;
		color: rgba(90, 90, 90, 1);
	}
}

.frontpage-photos {
	border: none;
	margin: 0;
	padding: 0;
	width: 24%;
}
